* {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 1.5em !important;
    font-weight: 500;
}

.perfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    background-color: aqua;
    margin-bottom: 15px;
    background-color: #efefef;
    opacity: 0.9;
    box-shadow:
#A8A8A8 0px 1px 3px 0px,
#C3C3C3 0px 1px 1px 0px,
#D5D5D5 0px 2px 1px -1px
}

.perfil > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none !important;
    margin-left: 3% !important;
}

.perfil > span {
    font-size: 0.9em;
    margin-left: 2%;
    color: #212121;
    font-weight: 500;
}